{{> menu active="admin"}}

<section class="section">
  <div class="box">
    <p class="title is-4">Admin Dashboard</p>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-12">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child box notification is-info is-light">
            <p class="title">Total Users <i class="fas fa-users"></i></p>
            <p class="subtitle">{{allUsers.length}}</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box notification is-success is-light">
            <p class="title">Total Categories <i class="fas fa-folder-open"></i></p>
            <p class="subtitle">{{allCategories.length}}</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box notification is-danger is-light">
            <p class="title">Total Placemarks <i class="fas fa-map-marked"></i></p>
            <p class="subtitle">{{allPlacemarks.length}}</p>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-12">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child box">
            {{#each allUsers}}
              {{#if _id}}
                <div class="level-item has-text-centered">
                  <div>
                    <p class="title is-4">{{firstName}} {{lastName}}</p>
                    <p class="heading">{{email}}</p>
                  </div>
                    <a href="/account/deleteuser/{{_id}}" class="ui icon button">
                      <i class="fas fa-trash"></i>
                    </a>
                </div>
                <br />
              {{/if}}
            {{/each}}
            <div class="level">
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            {{#each allCategories}}
              {{#if _id}}
                <div class="level-item has-text-centered">
                  <div>
                    <p class="title is-4">{{title}}</p>
                  </div>
                    <a href="/dashboard/deletecategory/{{_id}}" class="ui icon button">
                      <i class="fas fa-trash"></i>
                    </a>
                </div>
                <br />
              {{/if}}
            {{/each}}
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            {{#each allPlacemarks}}
              {{#if _id}}
                <div class="level-item has-text-centered">
                  <div>
                    <p class="title is-4">{{name}} {{lastName}}</p>
                    <p class="heading">{{description}}</p>
                  </div>
                    <a href="/category/{{categoryid}}/deleteplacemark/{{_id}}" class="ui icon button">
                      <i class="fas fa-trash"></i>
                    </a>
                </div>
                <br />
              {{/if}}
            {{/each}}
          </article>
        </div>
      </div>
    </div>
  </div>
</section>