{{> menu}}

<section class="section">
  <form class="box" action="/placemark/{{category._id}}/updateplacemark/{{placemark._id}}" method="POST">
    <p class="title is-4">Update Personal details</p>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label class="heading">Name</label>
          <input class="input heading" type="text" name="name" , value="{{placemark.name}}" />
        </div>
        <div class="field">
          <label class="heading">Description</label>
          <input class="input heading" type="text" name="description" value="{{placemark.description}}" />
        </div>
        <div class="field">
          <label class="heading">Latitude</label>
          <input class="input heading" type="text" name="latitude" value="{{placemark.latitude}}" />
        </div>
        <div class="field">
          <label class="heading">Longitude</label>
          <input class="input heading" type="text" name="longitude" value="{{placemark.longitude}}" />
        </div>
        <div class="field">
          <label class="heading">Category</label>
          <div class="select">
            <select class="heading" name="categoryid">
              <option class="heading" value="{{category._id}}">{{category.title}}</option>
              <option class="heading" value="{{category._id}}"></option>
              {{#each allCategories}}
                <option class="heading" value="{{_id}}">{{title}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
    </div>
    <button class="button is-info is-light heading">Update Placemark</button>
  </form>
  {{> placemark-image}}
</section>